# Jekyll build output
_site/
.jekyll-cache/
.sass-cache/
.jekyll-metadata
stuff/Powershell-challenge/Scripts_Do_Not_Upload.ps1
# Ruby / Bundler
vendor/
.bundle/
Gemfile.lock

# OS / Editor files
.DS_Store
Thumbs.db

# Obsidian
.obsidian/
_ob_templates/