<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js'
    data-cf-beacon='{"token": "fb3c69f5523a46c49184b0f050995be2"}'></script><!-- End Cloudflare Web Analytics -->
<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js'
    data-cf-beacon='{"token": "41652b407be14babb470fe6fb6f6ac80"}'></script><!-- End Cloudflare Web Analytics -->

<!-- GoatCounter start  -->
<script data-goatcounter="https://phoney.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
<!-- End GoatCounter -->